<div>
  <p-menubar [model]="items" styleClass="pr-0 mb-4">
    <ng-template pTemplate="start">
      <img src="../../../assets/img/logo-color.svg" routerLink="/" class="w-40" alt="Logo de l'association"/>
    </ng-template>
    <ng-template pTemplate="end">
      <p-button label="Quitter rapidement" styleClass="rounded-r-none rounded-l-full w-38 text-center bg-primary-50"  />
    </ng-template>
  </p-menubar>
  <div class="w-full flex justify-center mb-4">
    <p-iconfield class="w-full mx-[35%]">
      <p-inputicon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Search" class="w-full rounded-full"/>
    </p-iconfield>
  </div>
</div>
