<div class="bg-background">
  <div class="pt-35">
    <app-page-header
      title="Contact"
      [image_number]="2"
      description="N'hésitez pas à nous contacter pour partager votre histoire, poser des questions ou trouver du soutien. Nous sommes là pour vous écouter, vous aider et vous orienter."
    ></app-page-header>
  </div>
  <div class="mx-40 mt-10">

    <div class="flex flex-col gap-2">
      <label for="username">Username</label>
      <input pInputText id="username" aria-describedby="username-help" />
      <small id="username-help">Enter your username to reset your password.</small>
    </div>


  </div>

</div>
