<div *ngIf="orientation=='horizontal'" class="mx-30">
  <div class="flex w-full justify-end">
    <p-avatar
      [image]="'/assets/img/' + getAvatarImage(avatar)"
      class="w-48 h-48 fixed mt-5 mr-10"
      shape="circle"
    />
  </div>
  <p-card>
    <ng-template #title>
      <div class="flex items-center gap-3">
        <p-button *ngIf="!this.wavesurfer?.isPlaying()" icon="pi pi-play-circle cursor-pointer text-tertiary-50 text-3xl" [rounded]="true" [text]="true" (onClick)="this.wavesurfer?.play()" />
        <p-button *ngIf="this.wavesurfer?.isPlaying()" icon="pi pi-pause-circle cursor-pointer text-tertiary-50 text-3xl" [rounded]="true" [text]="true" (onClick)="this.wavesurfer?.pause()" />
        <span class="text-black font-bold">{{ audio_title }}</span>
      </div>
      <span *ngIf="!isLoading && this.wavesurfer" class="text-tertiary text-xs ml-8">{{formatTimeMMSS(this.wavesurfer.getCurrentTime())}} / {{formatTimeMMSS(this.wavesurfer.getDuration())}}</span>
      <span *ngIf="isLoading" class="text-tertiary text-xs ml-8">Chargement en cours...</span>
    </ng-template>
    <ng-template #content>
      <div #waveform class="w-[80%]" [ngClass]="isLoading ? 'hidden' : 'block'"></div>
      <p-progressbar *ngIf="isLoading" styleClass="mb-10" [value]="loadingProgress" [style]="{ width: '80%' }" ></p-progressbar>
    </ng-template>
    <ng-template #footer>
      <div class="flex w-[80%] justify-between">
        <div>
          <p-button icon="pi pi-fast-backward text-black" [rounded]="true" [text]="true" (onClick)="back(10)" />
          <p-button icon="pi pi-fast-forward text-black" [rounded]="true" [text]="true" (onClick)="skip(10)" />
        </div>
        <div>
          <p-button icon="pi pi-share-alt text-tertiary-50 text-2xl" [rounded]="true" [text]="true" />
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
<div *ngIf="orientation=='vertical'" class="w-54 cursor-pointer ">
  <div class="flex justify-center translate-y-1/2">
    <p-avatar
      [image]="'/assets/img/' + getAvatarImage(avatar)"
      class="w-32 h-32"
      shape="circle"
    />
  </div>
  <div class="flex w-full justify-end">
    <p-button class="fixed" icon="pi pi-share-alt text-tertiary-50 text-xl" [rounded]="true" [text]="true" />
  </div>
  <p-card styleClass="pt-14">
    <ng-template #title>
      <span class="font-bold w-full flex justify-center text-center">
        {{ audio_title }}
      </span>
    </ng-template>
    <ng-template #subtitle>
      <div class="flex w-full justify-center">
        <span *ngIf="!isLoading && this.wavesurfer" class="text-tertiary text-xs">{{formatTimeMMSS(this.wavesurfer.getCurrentTime())}} / {{formatTimeMMSS(this.wavesurfer.getDuration())}}</span>
        <span *ngIf="isLoading" class="text-tertiary text-xs">Chargement en cours...</span>
      </div>
    </ng-template>
    <ng-template #content>
      <div #waveform [ngClass]="isLoading ? 'hidden' : 'block'"></div>
      <p-progressbar *ngIf="isLoading" [value]="loadingProgress"></p-progressbar>
    </ng-template>
    <ng-template #footer>
      <div class="flex w-full justify-between">
        <p-button icon="pi pi-fast-backward text-black" [rounded]="true" [text]="true" (onClick)="back(10)" />
        <p-button *ngIf="!this.wavesurfer?.isPlaying()" icon="pi pi-play-circle cursor-pointer text-tertiary-50 text-3xl" [rounded]="true" [text]="true" (onClick)="this.wavesurfer?.play()" />
        <p-button *ngIf="this.wavesurfer?.isPlaying()" icon="pi pi-pause-circle cursor-pointer text-tertiary-50 text-3xl" [rounded]="true" [text]="true" (onClick)="this.wavesurfer?.pause()" />
        <p-button icon="pi pi-fast-forward text-black" [rounded]="true" [text]="true" (onClick)="skip(10)" />
      </div>
    </ng-template>
  </p-card>
</div>

