<div class="flex justify-between text-secondary">
  <img src="../../../assets/img/hero.svg" class="hidden xl:block" style="height: 30rem">

  <div class="flex w-full items-center justify-center sm:my-0 my-8">
    <div class="text-center">
      <h1 class="font-extrabold text-7xl mb-4">She’lter</h1>
      <h2 class="font-bold text-3xl mb-4">L’abri des femmes victimes de violences</h2>
      <p class="font-thin text-3xl">Accueil, témoignages, écoute, soutien, actualités...</p>

      <p-button
        label="Découvrir She’lter"
        severity="secondary"
        styleClass="mt-10 border-3 rounded-full text-xl py-2 border-secondary bg-transparent hover:border-secondary-hover hover:text-white hover:bg-secondary-hover active:border-secondary-active active:bg-secondary-active"
      />
    </div>
  </div>
  <img src="../../../assets/img/hero.svg" class="hidden xl:block scale-x-[-1]" style="height: 30rem">

</div>
