<div class="bg-background">
  <div class="pt-35 mb-20">
    <app-page-header
      *ngIf="testimony"
      [title]="testimony.title"
      [description]="testimony.summary"
      [image_number]="1"
    ></app-page-header>
  </div>
  <div class="w-full px-40 ">
    <app-audio-player
      *ngIf="testimony && testimony.audio_url"
      [audio_url]="testimony.audio_url"
      [audio_title]="testimony.title"
      orientation="horizontal"
    ></app-audio-player>
  </div>
  <h1 class="text-secondary text-4xl font-bold w-full text-center mt-20">D’autres témoignages audios poignants</h1>
  <p-carousel [value]="audioTestimonies" [numVisible]="6" [numScroll]="1" [responsiveOptions]="responsiveOptions" styleClass="mx-40">
    <ng-template let-testimony #item>
      <div class="w-full flex justify-center">
        <app-audio-player
          *ngIf="testimony && testimony.audio_url"
          [audio_url]="testimony.audio_url"
          [audio_title]="testimony.title"
          orientation="vertical"
        ></app-audio-player>
      </div>
    </ng-template>
  </p-carousel>
</div>
