@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";
@plugin "@tailwindcss/typography";
@font-face {
  font-family: Dosis;
  font-display: swap;
  src: url('/assets/fonts/Dosis-VariableFont_wght.ttf') format('truetype');
}

@theme {
  --font-sans: "Dosis", "sans-serif";
  --color-primary: #F38071;
  --color-primary-hover: #EF6B5C;
  --color-primary-active: #E95A49;
  --color-secondary: #9F496E;
  --color-secondary-hover: #8A3F5F;
  --color-secondary-active: #7A3553;
  --color-tertiary: #727272;
  --color-tertiary-50: #374957;
  --color-tertiary-100: #4a4a4a;
  --color-background: #FCF1F5;
}

/*Ne pas enlever c'est pour center les items du header*/

p-menubarsub {
  width: 100%;
  display: flex;
  .p-menubar-root-list {
    width: 100%;
    justify-content: center;
  }
}
/*Ne pas enlever c'est pour enlever le + du panel*/
.p-panel {
  border: none;
  background-color: var(--color-background);
}

.p-panel .p-panel-header-icon.p-panel-toggler .p-icon {
  display: none !important;
}

.p-panel .p-panel-header {
  margin: 0;
  padding: 0;
}

.p-panel .p-panel-content {
  padding: 0;
}
